h6 {
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}

.vertical {
    margin-top: 40px;
    border-left: 1px solid #ffffff;
    height: 80px;
    position: absolute;
    left: 50%;
}

.project {
    height: 500px;
}


.project1 {
    background: url("../gambar/WhatsApp\ Image\ 2020-09-08\ at\ 17.12.01.jpeg") no-repeat 50% 50%;
    background-size: cover;
    margin-left: 60%;

       
}

.project1::after {
    content: " enaknya isi kata2 apa ya? :)";
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    position: relative;
    color: blue;
    top: 4%;
    left: -90%;
    right: 0;
    bottom: 0;


}

.project2 {
    background: url("../gambar/mery2.jpeg") no-repeat 30% 20%;
    background-size: cover;
}

.project2::after {
    content: " enaknya isi kata2 apa ya? :)";
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    position: relative;
    color: blue;
    top: 80%;
    left: 60%;
    right: 0;
    bottom: 0;
}

.project3 {
    background: url("../gambar/okeh.jpeg")no-repeat 30% 0%;
    background-size: cover;

}

.project3::after {
    content: " enaknya isi kata2 apa ya? :)";
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    position: relative;
    color: blue;
    top: 80%;
    left: -90%;
    right: 0;
    bottom: 0;
}

.project4 {
    background: url("../gambar/bali.jpeg")no-repeat 30% 0%;
    background-size: cover;
}

.project4::after {
    content: " enaknya isi kata2 apa ya? :)";
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    position: relative;
    color: blue;
    top: 50%;
    left: 90%;
    right: 0;
    bottom: 0;
}

@media(max-width: 768px) {
    .project {
          width: 90% !important;
          margin: 14px auto;
    }

    .vertical {
          display: none;
    }

    .project1::after, .project2::after, .project3::after, .project4::after {
          display: none;
    }
}
